doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#navbar.top
        ul
            #logo
                img(src="/static/img/logo.png")
                | RDA
            li #[a(href="/") home]
            li #[a(href="/") about]
            li #[a(href="/") services]
            li #[a(href="/") class info]
            li #[a(href="/") contact us]

    section#intro
        | welcome to ridam dance academy
        <br>
        div.pr Eat Dance Sleep Repeat
    section#misson 
        h2 our misson
        .card
            h3 Dance Perfection
            .card-box
                .card-img
                    img(src='/static/img/1.png')

                .card-content
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam, amet!
        .card
            h3 Dance the way you want
            .card-box
                .card-img
                    img(src='/static/img/2.png')

                .card-content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, quidem!?
        .card
            h3 Expert teaching
            .card-box
                .card-img
                    img(src='/static/img/3.png')

                .card-content
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit, cumque.
    section#sponsorsection
        h2 Our Sponsors
        #sponsors
            img(src="/static/img/logo1.png",alt="sponsor image",class="spimg")
            img(src="/static/img/logo2.png",alt="sponsor image",class="spimg")
            img(src="/static/img/logo3.png",alt="sponsor image",class="spimg")
            img(src="/static/img/logo4.png",alt="sponsor image",class="spimg")

    footer#footer
        | Copyright  © 2020 riddamdanceacademy.com
    script
      include ../static/index.js